<header class="site-header clearfix">
  <div class="wrapper-content">

    <div class="navigation-wrap">
      <div class="nav-toggle-close"><i class="fa fa-times" aria-hidden="true"></i></div>

      <nav class="site-nav">
        {% for nav in site.data.navigation %}          
          <a href="{{ nav.url }}" {% if nav.url == page.url or nav.text == page.title%} class="active"{% endif %}>{{ nav.text }}</a>
        {% endfor %}
      </nav>

    </div>

    <span class="search-toggle">
      <i class="fa fa-search" aria-hidden="true"></i>
    </span>
    
    <div class="nav-toggle"><i class="fa fa-bars" aria-hidden="true"></i></div>

    <div class="site-logo">
      <a href="{{ "/" | relative_url }}"><img src="/images/logo/images/logo_clean.png"><img></a>
    </div>
    
  </div>
</header> <!-- /.site-header -->
