.page-not-found-content{    
    margin: auto;
    text-align: center;
    
    a {
        border-radius: 8px;
        width: 100%;
        max-width: 350px;
        padding: 20px;
        text-align: center;
        font-family: 'Lato', sans-serif;
        font-size: 14px;
        line-height: 14px;
        display: inline-block;
        text-decoration: none;
        border: 1px solid #101010;
        border-radius: 8px;
        background-color: transparent;
        color: #101010;
        outline: none;
        cursor: pointer;
        transition: all 0.2s ease;
        font-weight: 400;

        &:hover {
            background-color: #101010;
            color: $white;
        }
    }
}